.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
    top: 140px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 150px;
    top: 470px;
  }
  
  .baloon {
    transform:  rotateY(180deg);
    position: absolute;
    top: 70px;
    left: 530px;
    z-index: 1;
  }

  .speach {
    font-size: 22px;
    position: absolute;
    top: 110px;
    left: 555px;
    z-index: 2;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 220px;
    left: 350px
  }