body {
  height: 100vh;
}

#root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  height: 100%;
}

.timer {
  font-size: 40px;
}

.number {
  background-color: blueviolet;
  color: white;
  font-size: 40px;
  margin-top: 20px;
}