* {
    margin: 0px;    
}
  
#main-header {
    border-bottom: 1px solid #b6b2b2;  
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
}
  
#content {
    font-size: 18px;
    margin-left: 25%;    
    border: 3px solid red;
    text-align: center;
    overflow: auto;
    font-family: helvetica, sans-serif;   
}
  
#content header {
    margin-left: 10px;
}
  
#citation {  
    margin-left: 10px;
    margin-top: 10px;
}
  
.verse {
    margin-left: 10px;
}
  
#editing-sidebar {
    font-size: 18px;
    width: 25%;
    display: inline-block;
    border-right: 1px solid #b6b2b2;
    border-bottom: 1px solid #b6b2b2;   
    position: fixed;
    font-family: helvetica, sans-serif;
} 

#author {
    display: inline-block;
    padding: 10px;    
}

  